In [5]:
import pandas as pd

hap15 = pd.read_csv("/Users/ilhaam.ahmed/Projects/intro_data_analysis_with_pandas/2015.csv")

hap15.iloc[0:5]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [13]:
hap15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [11]:
hap15.iloc[0:5].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        5 non-null      object
 1   Region                         5 non-null      object
 2   Happiness Rank                 5 non-null      int64
 3   Happiness Score                5 non-null      float64
 4   Standard Error                 5 non-null      float64
 5   Economy (GDP per Capita)       5 non-null      float64
 6   Family                         5 non-null      float64
 7   Health (Life Expectancy)       5 non-null      float64
 8   Freedom                        5 non-null      float64
 9   Trust (Government Corruption)  5 non-null      float64
 10  Generosity                     5 non-null      float64
 11  Dystopia Residual              5 non-null      float64
dtypes: float64(9), int64(1), object(2)
memory usage: 612.0+ bytes

In [10]:
hap15.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [9]:
hap15.iloc[0:5].describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,3.000000,7.524800,0.038112,1.361920,1.353176,0.910950,0.649284,0.347880,0.375914,2.525700
std,1.581139,0.060739,0.006356,0.064751,0.031236,0.032784,0.018508,0.129252,0.068362,0.101737
min,1.000000,7.427000,0.033280,1.302320,1.322610,0.874640,0.628770,0.141450,0.296780,2.451760
25%,2.000000,7.522000,0.034110,1.325480,1.330950,0.885210,0.632970,0.329570,0.341390,2.465310
50%,3.000000,7.527000,0.035530,1.326290,1.349510,0.905630,0.649380,0.365030,0.346990,2.492040
75%,4.000000,7.561000,0.038800,1.396510,1.360580,0.941430,0.665570,0.419780,0.436300,2.517380
max,5.000000,7.587000,0.048840,1.459000,1.402230,0.947840,0.669730,0.483570,0.458110,2.702010

In [26]:
hap15.iloc[0:5].mean(numeric_only=True)

Happiness Rank                   3.000000
Happiness Score                  7.524800
Standard Error                   0.038112
Economy (GDP per Capita)         1.361920
Family                           1.353176
Health (Life Expectancy)         0.910950
Freedom                          0.649284
Trust (Government Corruption)    0.347880
Generosity                       0.375914
Dystopia Residual                2.525700
dtype: float64

In [19]:
hap15['Happiness Score'].iloc[0:5].mean()

7.524800000000001

In [30]:
file_matches = pd.read_csv("/Users/ilhaam.ahmed/Projects/intro_data_analysis_with_pandas/WorldCupMatches.csv")

whole_data = pd.DataFrame(file_matches)

whole_data

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
whole_data.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [37]:
finals = whole_data.loc[whole_data['Stage'] == 'Final']

home_away = pd.DataFrame([finals['Year'], finals['Home Team Name'], finals['Home Team Goals'], finals['Away Team Name'], finals['Away Team Goals'], finals['MatchID'], finals['Win conditions']])

for i in home_away:
    if home_away[i]['Home Team Goals'] > home_away[i]['Away Team Goals']:
        print(f"In the year {int(home_away[i]['Year'])}, {home_away[i]['Home Team Name']} won the World Cup!")
    elif home_away[i]['Home Team Goals'] < home_away[i]['Away Team Goals']:
        print(f"In the year {int(home_away[i]['Year'])}, {home_away[i]['Away Team Name']} won the World Cup!")
    else:
        print(f"It ended a draw and then {home_away[i]['Win conditions']}...")

In the year 1930, Uruguay won the World Cup!
In the year 1934, Italy won the World Cup!
In the year 1938, Italy won the World Cup!
In the year 1954, Germany FR won the World Cup!
In the year 1958, Brazil won the World Cup!
In the year 1962, Brazil won the World Cup!
In the year 1966, England won the World Cup!
In the year 1970, Brazil won the World Cup!
In the year 1974, Germany FR won the World Cup!
In the year 1978, Argentina won the World Cup!
In the year 1982, Italy won the World Cup!
In the year 1986, Argentina won the World Cup!
In the year 1990, Germany FR won the World Cup!
It ended a draw and then Brazil win on penalties (3 - 2) ...
In the year 1998, France won the World Cup!
In the year 2002, Brazil won the World Cup!
It ended a draw and then Italy win on penalties (5 - 3) ...
In the year 2010, Spain won the World Cup!
In the year 2014, Germany won the World Cup!
In the year 2014, Germany won the World Cup!